<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

#deny .htaccess from directly access.
<Files ".htaccess">
    order allow,deny
    deny from all
</Files>
